body{
    width:100%;
    margin: 0 auto;
    overflow-x: hidden;
    
}
.ble{
    height: 100vh;
    background-image: url('images/HERO.jpg');
    padding: 0;
}
.navigation{
    height: 20%;
    background-color: rgba(0, 0, 0, 0.441);
}
.boitePunchline{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.portfolioTableau1{
    margin-bottom: 50px;
}
.elementsNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.logo{
    font-weight: bolder;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
}
.lien{
    margin: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 4px;
    font-weight: bolder;
}
.bordureBleue{
    border: solid 2px aqua;
}
.eBleu{
    color: aqua;
}
.punchline{
    color: white;
    background-color: rgba(0, 0, 0, 0.441);
    font-size: 3rem;
    padding:4px;
    margin-top: 4px;
}
.fondbleu{
    background-image: url(./images/fondservices.png);
    height: 500px;
}
.bleu{
    background-image: url(./images/fondservices.png);
    height: 500px;
    color: white;
    padding-top: 80px;
}
h1{
    text-decoration: underline;
}
img.s{
    padding: 35px;
    
}
img.f{
    padding: 35px;
}
img.i{
    padding: 35px;
}
img.c{
    padding: 35px;
}
.portfolio{
    height: 400px;
    color: black;
    margin-top: 50px;
}
.contain-text-center{
    height: 365px;
}
h2{
    color: black;
}
.liem{
    color: black;
}
.photo{
    margin: 5px;
    color: black;
    text-transform: uppercase;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 4px;
}
.logo1{
    font-weight: bolder;
    color: black;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: underline;
}
.elementsPortfolio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.photo{
    height: 200px;
    background-position: center ;
    background-size : cover;
    background-repeat: no-repeat;
    margin-left: 20px;
}
.photo1{
    background-image: url("images/portfolio/1.png");
}
.photo2{
    background-image: url("images/portfolio/2.png");
}
.photo3{
    background-image: url("images/portfolio/3.png");
}
.photo4{
    background-image: url("images/portfolio/4.png");
}
.photo5{
    background-image: url("images/portfolio/5.png");
}
.photo6{
    background-image: url("images/portfolio/6.png");
}
.photo7{
    background-image: url("images/portfolio/7.png");
}
.photo8{
    background-image: url("images/portfolio/8.png");
}
.containerDefault{
    background-color: #434343;
    padding-top: 50px;
    padding-bottom: 60px;
}
.sectionVideo{
    display: flex;
    justify-content: space-evenly;
    margin-left: -140px;
}
.titreDefault{
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    margin-left: 80px;
    text-decoration: underline;
}
.texteDefault{
    margin-top: 30px;
    margin-left: 80px;
    max-height: 800px;
    max-width: 800px;
    color: white;
    width: 500px;
}
.boutonVisiter{
    color: #303030;
}
.video{
    display: flex;
    justify-content: flex-end;
}
.containerTwitter{
    padding-top: 50px;
    background-image: url(images/fondservices.png);
    color: white;
}
.titreTwitter{
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    margin-left: 80px;
    text-decoration: underline;
}
.barTwitter{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.logoTwitter{
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
    margin-top: 30px;
}
.texteTwitter{
    margin-top: 30px;
    margin-left: 80px;
    padding-bottom: 50px;
}
.sectionJohn{
    background-color: #94B3D4;
    padding-top: 45px;
    padding-bottom: 30px;
}
.textimage{
    display: flex;
    align-self: flex-end;
}
.textgroup{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly,flex-start;
}
.johnTitre{
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    margin-left: 80px;
    text-decoration: underline;
}
.text3et4{
    margin-top: 30px;
    margin-left: 80px;
    max-height: 800px;
    max-width: 700px;
    color: white;
}
.text5{
    margin-top: 20px;
    max-height: 800px;
    max-width: 700px;
    color: white;
}
.containerTestimonials{
    padding-top: 50px;
    background-color:white ;
}
.titreTestimonials{
    font-size: 2rem;
    text-transform: uppercase;
    margin-left: 80px;
    text-decoration: underline;
}
.barTestimonials{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.logoTestimonials{
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
    margin-top: 30px;
}
.texteTestimonials{
    margin-top: 30px;
    margin-left: 80px;
    padding-bottom: 50px;
}
.text2Testimonials{
    color:deepskyblue;
    font-weight: 700;
}
.containerContact{
    background-color: #94B3D4;
    padding-bottom: 40px;
    padding-top: 50px;
}
.titreContact{
    margin-left: 80px;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    text-decoration: underline;
}
.mini{
    width: 650px;
    margin-left: 80px;
    color: white;
}
.message{
    width: 1130px;
    margin-left: 80px;
    color: white;
    margin-right: 80px;
}
.texteContact{
    color: white;
    margin-left: 800px;
    margin-top: -200px;
}
.mb-3{
    margin-top: 50px;
}
.form-control{
    background-color: transparent;
}
.btn{
    margin-left: 80px;
    width: 300px;
    height: 50px;
    border-radius: 0%;
    color: white;
    background-color:#11CAEB;
    border-color: transparent;
}
.footer{
    background-color: #303030;
    height: 100px;
    padding-top: 30px;
}
.menuFooter{
    margin-left: 70px;
}
.menuFooter a{
    color: lightgrey ;
    text-decoration: none;
    margin: 5px;
}
.date{
    color: lightgrey;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: -25px;
}
input.visit{
    background-color: #434343;
    color: black;
    border: 3px solid black;
    padding: 5px;
    width: 150px;
}